/* LOADER */
.al-preloader {
   position: fixed!important;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 999999999;
   background-color: #000;
   text-align: center;
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: center;
}

.al-preloader p {
    font-family: 'Montserrat', sans-serif!important;
}

.al-preloader img {
    width: 120px!important;
}

.al-preloader-body {
    position: absolute;
    text-align: center;
    margin: 0 auto;
    top: 50%;
    transform: translate(0, -50%);
}


.preloaderaL {
	margin-top: 20px;
	font-size: 3rem;
}

#gallery li img {
  height: 200px;
  object-fit: cover;  
}

.fancybox-bg {
    background: rgba(0, 0, 0, .9)!important;
    opacity: 0;
    transition-duration: inherit;
    transition-property: opacity;
}


/*#about img {
   filter: brightness(0.5);
}*/

/*Shining Text*/

/*p.shine
{
    font-size: 3em;
    margin: 0 auto;
    width: 700px;
}

.shine
{
    background: #222 -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff)) 0 0 no-repeat;
    -webkit-background-size: 125px;
    
    color: rgba(255, 255, 255, 0.1);
    -webkit-background-clip: text;
    
    -webkit-animation-name: shine;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes shine
{
    0%
    {
        background-position: top left;
    }
    100%
    {
        background-position: top right;
    }
}*/

/*Shining Text End*/  




/* PARTICLE JS */

	.js-count-particles{
        font-size: 1.1em;
      }

      .count-particles{
        border-radius: 0 0 3px 3px;
      }

      /* ---- particles.js container ---- */

      #particles-js{
        /*position: relative;*/
        width: 100%;
        height: 100%;
        background-color: transparent;
        /*background-image: url('');*/
        /*background-size: cover;*/
        /*background-position: 50% 50%;*/
        /*background-repeat: no-repeat;*/
      }


    .riandraft {
      position: relative;
		}

    /*.al-hanan {
        position: absolute;
        height: 100%;
        top: 224px;
        margin: 0 auto;
        left: 0;
        right: 0;
    }*/

    .al-hanan {
      position: absolute;
      height: 100%;
      width: 100%;
      margin: 50vh auto 0;
      transform: translateY(-50%);
      left: 50%;
      transform: translateX(-50%);
  }

    div#mokz {
	    text-align: center;
	}

/* END PARTICLE JS */



/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  /*box-shadow: inset 0 0 5px grey; */
  /*border-radius: 10px;*/
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  /*background: #002727; */
  background: grey; 
  /*border-radius: 10px;*/
}



/* HEADER ALHANAN ANIMATION */

    .btn-cont {
      text-align: center;
      margin-top: 200px;
    }
    .btn-cont .al-btn {
      position: relative;
      padding: 20px 70px;
      border: 1px solid white;
      color: white;
      text-decoration: none;
      font-size: 1.125em;
      font-family: 'Open Sans', sans-serif;
      text-transform: uppercase;
      letter-spacing: 2px;
      -webkit-font-smoothing: antialiased;
    }
    .btn-cont .al-btn:hover {
      border: none;
    }
    .btn-cont .al-btn:hover .line-1 {
      -webkit-animation: move1 1500ms infinite ease;
              animation: move1 1500ms infinite ease;
    }
    .btn-cont .al-btn:hover .line-2 {
      -webkit-animation: move2 1500ms infinite ease;
              animation: move2 1500ms infinite ease;
    }
    .btn-cont .al-btn:hover .line-3 {
      -webkit-animation: move3 1500ms infinite ease;
              animation: move3 1500ms infinite ease;
    }
    .btn-cont .al-btn:hover .line-4 {
      -webkit-animation: move4 1500ms infinite ease;
              animation: move4 1500ms infinite ease;
    }
    .btn-cont .line-1 {
      content: "";
      display: block;
      position: absolute;
      width: 1px;
      background-color: white;
      left: 0;
      bottom: 0;
    }
    .btn-cont .line-2 {
      content: "";
      display: block;
      position: absolute;
      height: 1px;
      background-color: white;
      left: 0;
      top: 0;
    }
    .btn-cont .line-3 {
      content: "";
      display: block;
      position: absolute;
      width: 1px;
      background-color: white;
      right: 0;
      top: 0;
    }
    .btn-cont .line-4 {
      content: "";
      display: block;
      position: absolute;
      height: 1px;
      background-color: white;
      right: 0;
      bottom: 0;
    }

    @-webkit-keyframes move1 {
      0% {
        height: 100%;
        bottom: 0;
      }
      54% {
        height: 0;
        bottom: 100%;
      }
      55% {
        height: 0;
        bottom: 0;
      }
      100% {
        height: 100%;
        bottom: 0;
      }
    }

    @keyframes move1 {
      0% {
        height: 100%;
        bottom: 0;
      }
      54% {
        height: 0;
        bottom: 100%;
      }
      55% {
        height: 0;
        bottom: 0;
      }
      100% {
        height: 100%;
        bottom: 0;
      }
    }
    @-webkit-keyframes move2 {
      0% {
        width: 0;
        left: 0;
      }
      50% {
        width: 100%;
        left: 0;
      }
      100% {
        width: 0;
        left: 100%;
      }
    }
    @keyframes move2 {
      0% {
        width: 0;
        left: 0;
      }
      50% {
        width: 100%;
        left: 0;
      }
      100% {
        width: 0;
        left: 100%;
      }
    }
    @-webkit-keyframes move3 {
      0% {
        height: 100%;
        top: 0;
      }
      54% {
        height: 0;
        top: 100%;
      }
      55% {
        height: 0;
        top: 0;
      }
      100% {
        height: 100%;
        top: 0;
      }
    }
    @keyframes move3 {
      0% {
        height: 100%;
        top: 0;
      }
      54% {
        height: 0;
        top: 100%;
      }
      55% {
        height: 0;
        top: 0;
      }
      100% {
        height: 100%;
        top: 0;
      }
    }
    @-webkit-keyframes move4 {
      0% {
        width: 0;
        right: 0;
      }
      55% {
        width: 100%;
        right: 0;
      }
      100% {
        width: 0;
        right: 100%;
      }
    }
    @keyframes move4 {
      0% {
        width: 0;
        right: 0;
      }
      55% {
        width: 100%;
        right: 0;
      }
      100% {
        width: 0;
        right: 100%;
      }
    }

/* END ALHANAN ANIMATION */















/* REBUILD */
.al-view {
	display: none;
}

.al-dots-a::before {
	content: "\00a0 A"!important;
}
.al-dots-l::before {
	content: "\00a0 L"!important;
}
.al-dots-h::before {
	content: "\00a0 H"!important;
}
.al-dots-a2::before {
	content: "\00a0 A"!important;
}
.al-dots-n::before {
	content: "\00a0 N"!important;
}
.al-dots-a3::before {
	content: "\00a0 A"!important;
}
.al-dots-n2::before {
	content: "\00a0 N"!important;
}
.al-dots-13::before {
	content: "\262A"!important;
}




/* MENU */
.menu-slider .item {
    padding: 0 0px 50px;
    float: left;
    width: 50%;
}




@media (max-width: 1200px){
	.al-view {
		display: block
	}

	#menu .slick-arrow {
		display: none!important;
	}
}


@media (max-width: 770px) {
	/*.page {
	    min-height: 60vh;
	}*/

	.page {
        background-size: 100% auto;
        padding: 0;
    }

    #mokz {
    	display: none;
    }

    #home {
    	background-image: none!important;
    }

    .preloaderaL {
		margin-top: 20px;
		font-size: 1.5rem;
	}

	#about .image-right {
		margin-bottom: 20px;
	}

}


@media (max-width: 580px) {
	#services {
		display: none;
	}

	#menu {
		display: none;
	}
}